# Application
public/content/plugins/*
!public/content/plugins/.gitkeep
public/content/mu-plugins/*/
public/content/upgrade
public/content/uploads/*
!public/content/uploads/.gitkeep

# WordPress
public/wp
public/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# node
node_modules
